server:
  port: 8091

spring:
  application:
    name: auth-service
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8090/realms/digibnk

keycloak:
  server-url: http://localhost:8090
  realm: master
  username: admin
  password: admin
  target-realm: digibnk

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: true
